.body{
	background: #fafafa;
	font-family: Arial, sans-serif;
	color: #444;
}

.navbar {
	background: #1a8c1a;
	padding: 15px 0;
box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.navbar-brand {
	color: #fff;
	font-weight: 700;
	font-size: 1.5rem;
}

.nav-link {
	color: #e9ffe9;
	font-weight: 500;
	margin-left: 10px;
	transition: 0.2s;
}

.nav-link:hover {
	color: #fff;
	transform: translateY(-2px);
}


.img-placeholder,
.text-placeholder,
.button-box {
	border: 2px dashed #999;
	background: #e0e0e0;
	padding: 20px;
	text-align: center;
	color: #555;
}

.img-placeholder {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: #dcdcdc;
}

.text-placeholder {
  padding: 30px;
}

.button-box {
	margin-top: 20px;
	padding: 15px;
}

.hero {
	padding: 60px 20px;
}

.footer {
  background: #fff;
  border-top: 1px solid #ddd;
  padding: 30px 0;
  color: #333;
}

.footer-top,
.footer-bottom {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  text-align: center;
}

.footer-social img {
  width: 22px;
  opacity: 0.8;
}

.thank-box {
	background: #e0e0e0;
	border: 2px dashed #999;
	padding: 40px;
	max-width: 500px;
	margin: 100px auto;
	border-radius: 10px;
	text-align: center;
}

.sparkle {
	font-size: 40px;
	animation: sparkle 1.4s infinite alternate;
	margin-bottom: 10px;
	opacity: 0.9;
}

@keyframes sparkle {
    0%   { opacity: 0.3; transform: scale(0.9); }
    100% { opacity: 1;   transform: scale(1.1); }

.back-btn {
	margin-top: 20px;
	display: inline-block;
	padding: 10px 25px;
	background: #1a8cla;
	color: green;
	border-radius: 5px;

}



  